/* GLOBAL */
:root {
    box-sizing: border-box; 
}
*, 
::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 
    padding: 0; 
}

/* CANVAS */
canvas {
    width: 100vw; 
    height: 100vh; 
}